.NoteItem_container {
    width: 180px;
    border: solid 1px gray;
    border-radius: 0.3em;
    padding: 5px;
    margin-bottom: 1em;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}    

.txt {
    word-wrap: break-word;
}
