.NotesSection_container {
    // width: 1000px;
    columns: 3 200px;
    column-gap: 1em;
    padding: 1em;

}

.NotesSection_container_entrada {
    display: flex;
    align-items: center;
    justify-content: center;
    
}